<html>

<body>
    <h3>Log Search Application: {{.APP}}</h3>
    <hr>
    <h4>Log Search:</h4>
    <table width="100%">
        <tbody>
            <tr>
                <td width=" 10%">
                </td>
                <td width="70%">
                    <form method="POST" action="/api/logs/search/files" target="_blank">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td><label><b>Search Text:</b></label><br>
                                                        <input type="text" size="60" maxlength="80"
                                                            placeholder="Enter search text here, (if regex then mark the checkbox below)"
                                                            name="search-text" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><input type="checkbox" name="is-reg-ex" value="regex" />
                                                        <label for="is-reg-ex"> Is RegEx</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="hidden" name="app" value="{{.APP}}" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><input type="number" value="0" min="0" max="9"
                                                            name="pre-match-lines" /><label> no.
                                                            of lines before match (0-9)</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><input type="number" value="0" min="0" max="9"
                                                            name="post-match-lines" /><label>
                                                            no. of lines after match (0-9)</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Nodes (where to perform search):</label><br>
                                                        <select name="nodes" style="width: 450px;" size="3" multiple>
                                                            {{range .NODES}}
                                                            <option value="{{.}}" selected>{{.}}</option>
                                                            {{end}}
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Logs (where to perform search):</label><br>
                                                        <select name="logs" style="width: 450px;" size="5" multiple>
                                                            {{ range .LOGS }}
                                                            <option value="{{.}}" selected>{{.}}</option>
                                                            {{end}}
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><input type="submit" name="Search" value="Search" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </td>
                <td width="20%" valign="top">
                    <table>
                        <tbody>
                            <tr>
                                <td colspan="2"><u>Active Agents Found:</u></td>
                            </tr>
                            {{range .NODES}}
                            <tr bgcolor="green">
                                <td>{{.}}</td>
                                <td>Active</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h4>Log Tail:</h4>
    <table>
        <tbody>
            <tr>
                <td width="20%">
                </td>
                <td width="60%">
                    <form method="POST" action="/api/logs/tail/files" target="_blank">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <label>Select a log file to tail:</label><br>
                                        <select name="nodeSPACElog" style="width: 450px;" size="5">
                                            {{ range .LOGSTOTAIL }}
                                            <option value="{{.}}" selected>{{.}}</option>
                                            {{end}}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="hidden" name="app" value="{{.APP}}" />
                                        <input type="submit" name="tail" value="Tail" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </td>
                <td width="20%" valign="top"></td>
            </tr>
        </tbody>
    </table>

</body>

</html>